
.dropdown-menu {
    min-width: 200px;
}

.dropdown-menu.columns-2 {
    min-width: 400px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
}

.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}

.dropdown-menu.multi-column {
    width: 400px;
}

.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    white-space: normal;
}

.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #999;
}
.span6{
    display: inline;
    height: 1000px;
    margin: 0px;
    padding: 0px;
    width: 100px;

    border: 1px solid black;
}
.btn-sq {
    width: 100px ;
    height: 100px ;
    font-size: 10px;
    background: #FFFAFA;

}
.butt {
    border: 1px outset rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #F5F5F5;
    height:90px;
    width:90px;
    cursor:pointer;

    box-shadow: 0px 0px 1px #888888;
    text-align: center;


    margin: 5px;
    display:inline-block;


}
.butt > img{
    width: 60px;
    height: 60px;

    margin-top: 5px;
}
.butt > p{
    margin-top: 2px;
    font-weight: 150%;
}

.butt:hover {
    background-color: blue;
    color:white;
}


.butt em.leftImage{
    background-position: -96px -112px;
}
.dashcont{
    height:auto;
    width:auto;
    border: 1px outset rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: 0px 0px 1px #888888;
    padding: 10px;
}
.dashhead{
    height:auto;
    width:auto;

}
.dashcont > table {
    border-collapse: collapse;
    width: 100%;
}

.dashcont >th {
    text-align: left;
    padding: 8px;
}

 .dashcont> tr:nth-child(even) {background-color: #f2f2f2;}

/* ------------------- Sidebar Styling ------------------- */
/*
#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #CCC;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
ul }
*/

.butttask {
    border: 1px outset rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #F5F5F5;
    height:90px;
    width:500px;
    cursor:pointer;

    box-shadow: 0px 0px 1px #888888;
    text-align: center;


    margin: 5px;


}
.butttask:hover {
    background-color: blue;
    color:white;
}
.butttask > img{
    width: 60px;
    height: 60px;

    margin-top: 5px;
}
.butttask > p{
    margin-top: 2px;
    font-weight: 150%;
}

